/* Quitar padding del contenedor del formulario */
.nf-form-content {
    padding: 0!important;
}

/* Estilo de los inputs: Nombre, Email, Número, Empresa */
.nf-form-content input.ninja-forms-field {
    height: 50px!important; /* Altura de los inputs */
    background-color: #000000!important; /* Fondo negro */
    color: white!important; /* Texto blanco */
    border: 1px solid white!important; /* Borde blanco */
    border-radius: 5px!important; /* Bordes ligeramente redondeados */
    margin-bottom: 10px!important; /* Espacio inferior */
    padding: 10px!important; /* Padding interno */
    font-size: 16px!important; /* Texto más grande */
    width: 100%!important; /* Ancho completo */
}



/* Estilo de input: mensaje */
#nf-field-3 {
    border-radius: 15px!important; /* Bordes ligeramente redondeados */
    padding: 10px!important; /* Aumentar padding */
    color: white!important; /* Texto blanco */
    background-color: #000000!important; /* Fondo negro */
    margin-bottom: 20px!important; /* Espacio inferior */
    border: 1px solid white!important; /* Borde blanco */
}

/* Ocultar contenido antes del formulario */
.nf-before-form-content {
    display: none!important;
}

/* Estilo de los labels */
.nf-field-label label {
    font-size: 12px!important; /* Tamaño de fuente */
    color: white!important; /* Color blanco */
    font-family: 'Montserrat', sans-serif; /* Fuente */
}

/* Ajustar margen de los campos */
.nf-field-container {
    margin-bottom: 5px!important; /* Espacio entre campos */
}

/* Estilo del select */
#nf-field-6 {
    height: 50px!important; /* Altura del select */
    color: black!important; /* Texto negro */
    border-radius: 35px!important; /* Bordes redondeados */
    padding: 10px!important; /* Padding interno */
    width: 100%!important; /* Ancho completo */
    background-color: #FFFFFF!important; /* Fondo blanco */
   
}

/* Eliminar el estilo por defecto del select */
.nf-form-content select {
    background-color: #FFFFFF!important; /* Fondo blanco */
    padding: 10px; /* Padding interno */
    border-radius: 35px !important; /* Bordes redondeados */
}

/* Estilo del botón Enviar */
#nf-field-4 {
    height: 50px!important; /* Altura del botón igual a los inputs */
    margin-top: 5px!important;
    padding: 5px 40px!important; /* Padding interno */
    background-color: #56d600a2!important; /* Fondo personalizado */
    color: white!important; /* Texto blanco */
    border-radius: 20px!important; /* Bordes ligeramente redondeados */
    border: none!important; /* Sin borde */
    width: 100%!important; /* Ancho completo */
}



/* Estilo del checkbox */
#nf-field-7 {
    display: none; /* Ocultar checkbox original */
}

/* Crear un cuadro antes del label */
.checkbox-container.label-right label::before {
    content: ""; /* Crear un cuadro antes del label */
    left:  -15% !important; /* Alinear a la izquierda */
    top: 100%; /* Centrar verticalmente */
    width: 23px; /* Ancho del cuadro */
    height: 23px; /* Altura del cuadro */
    color: white !important;
    font-size: medium !important;
    font-weight: 400 !important;
}

.checkbox-container.label-right label::after {
    content: ""; /* Crear un cuadro antes del label */
    top: 50%; /* Centrar verticalmente */
    width: 23px !important; /* Ancho del cuadro */
    height: 23px !important; /* Altura del cuadro */
    border: 2px solid red !important; /* Borde rojo */
    border-radius: 5px; /* Bordes ligeramente redondeados */
    background-color: red !important; /* Fondo transparente inicialmente */
}



/* Ajustar el símbolo de requerido */
.ninja-forms-req-symbol {
    color: #e20101 !important; /* Color personalizado */
}



/* Ocultar símbolo de campo requerido */
.ninja-forms-req-symbol {
    color: #e20101!important; /* Color personalizado */
}

/* Ocultar título del formulario */
#nf-form-title-1 {
    display: none!important; /* Ocultar título */
}

/* Ocultar mensajes de error */
.nf-after-form-content {
    display: none!important; /* Ocultar contenido después del formulario */
}

.nf-error.field-wrap .nf-field-element:after {
    display: none!important; /* Ocultar mensaje de error */
}

/* Ajustar el símbolo de requerido */
.nf-pass.field-wrap .nf-field-element:after {
    display: none!important; /* Ocultar símbolo de requerido */
}
