@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&display=swap');

/* Quitar padding del contenedor del formulario */
.nf-form-content {
    padding: 0!important;
}

/* Estilo de los inputs: Nombre, Email, Número, Empresa */
.nf-form-content input.ninja-forms-field {
    height: 50px!important; /* Altura de los inputs */
    border: 0.5px solid #ffdd96!important; /* Borde blanco */
    border-radius: 10px!important; /* Bordes ligeramente redondeados */
    margin-bottom: 10px!important; /* Espacio inferior */
    padding: 10px!important; /* Padding interno */
    font-size: 16px!important; /* Texto más grande */
    width: 100%!important; /* Ancho completo */
}

.nf-field-element input {
    background-color: rgba(0, 0, 0, 0.6) !important;
    color: white !important; /* Texto blanco */
    font-family: 'Montserrat', sans-serif;
}

/* Ocultar contenido antes del formulario */
.nf-before-form-content {
    display: none!important;
}

/* Estilo de los labels */
.nf-field-label {
    display: none!important;
}

/* Ajustar margen de los campos */
.nf-field-container {
    margin-bottom: 5px!important; /* Espacio entre campos */
}


#nf-field-6-wrap > .nf-field-elemt{
    background: #000;
}

#nf-field-4 {
    height: 50px !important; /* Altura del botón igual a los inputs */
    margin-top: 2rem !important;
    margin-bottom: 20px !important; /* Aumentar el margen inferior */
    padding: 5px 40px !important; /* Padding interno */
    background: linear-gradient(90deg, #2a71b7, #2ab6b7) !important; /* Nuevo fondo personalizado */
    color: white !important; /* Texto blanco */
    border-radius: 25px !important; /* Bordes ligeramente redondeados */
    border: none !important; /* Sin borde */
    width: 100% !important; /* Ancho completo */
    font-weight: bold;
    font-size: 25px !important; /* Tamaño de fuente más grande */
    font-family: 'Montserrat', sans-serif;
    display: flex; /* Para centrar */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    text-align: center; /* Asegurar el centrado del texto */
}

#nf-field-4:hover {
    background: linear-gradient(90deg, #2a71b7, #2ab6b7) !important; /* Nuevo fondo personalizado en hover */
    color: white !important; /* Texto blanco */
    border-radius: 25px !important; /* Bordes ligeramente redondeados */
    border: none !important; /* Sin borde */
    width: 100% !important; /* Ancho completo */
    font-weight: bold;
    font-size: 25px !important; /* Tamaño de fuente más grande en hover */
    font-family: 'Montserrat', sans-serif;
    display: flex; /* Para centrar */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    text-align: center; /* Asegurar el centrado del texto */
}

/* Estilo del checkbox */
#nf-field-7 {
    display: none;
    margin-bottom: 1rem;
}

.checkbox-container.label-right label::before {
    content: "";
    padding-left: 0.4rem;
    top: 100%;
    width: 23px;
    height: 23px;
    color: white !important;
    font-size: medium !important;
    font-weight: 400 !important;
    font-family: 'Montserrat', sans-serif;
}

.checkbox-container.label-right label::after {
    content: "";
    margin-bottom: 1rem;
    top: 50%;
    width: 23px !important;
    height: 23px !important;
    border: 2px solid #6231af !important;
    border-radius: 5px;
    background-color: #6231af!important;
    font-family: 'Montserrat', sans-serif;
}



/* Ajustar el símbolo de requerido */
.ninja-forms-req-symbol {
    display: none;
}
/* Ocultar símbolo de campo requerido */
.ninja-forms-req-symbol {
    display: none;
}

/* Ocultar título del formulario */
#nf-form-title-1 {
    display: none!important; /* Ocultar título */
}

/* Ocultar mensajes de error */
.nf-after-form-content {
    display: none!important; /* Ocultar contenido después del formulario */
}

.nf-error.field-wrap .nf-field-element:after {
    display: none!important; /* Ocultar mensaje de error */
}

/* Ajustar el símbolo de requerido
    .nf-pass.field-wrap .nf-field-element:after {
        display: none!important;
    }
        */

/* Estilo del select */

.nf-form-content .list-select-wrap .nf-field-element {
    background: white;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.nf-form-content .list-select-wrap .nf-field-element select {
    background: transparent;
    border-radius: 10px;
    color: #000;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}


.nf-form-content .list-select-wrap .nf-field-element > div {
    background: transparent;
    border: none;
}


.nf-form-content .list-select-wrap .nf-field-element input:not([type=button]),
.nf-form-content .list-select-wrap .nf-field-element textarea {
    background: transparent;
    border-radius: 0;
    color: #787878;
    transition: all .5s;
}


.nf-form-content .list-select-wrap .nf-field-element > div {
    background: transparent !important;
    border: none !important;
}

.nf-form-content .list-select-wrap .nf-field-element div {
    background: transparent;
    border: none;
}